body {
    background: linear-gradient(to right, grey, black);
  }

.frontPageContent{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introductoryPrompt{
    text-align: center;
}

.Title{
    color: white;
}

.line1{
    transform: translateX(-25%);
    color: white;
}

.line2{
    color: white;
}

.line3{
    font-size: 50px;
    font-weight: bold;
    transform: translateX(10%);
    color: white;
}

.recordPrompt{
    margin-top: 100px;
    color: grey;
    text-align: center;
}

.regForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    margin: 10px;
}

.recordContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#record-button-false{
    width: 100px;
    height: 50px;
    background-color: white;
    font-size: 20px;
    border-radius: 20px; /* half of the width and height to make it a circle */
    border: 2px solid black; /* remove the default border */
    cursor: pointer; /* change cursor to pointer */
    margin: auto;
}

#record-button-true{
    color: white;
    width: 100px;
    height: 50px;
    background-color: black;
    font-size: 20px;
    border-radius: 20px; /* half of the width and height to make it a circle */
    border: 2px solid red; /* remove the default border */
    cursor: pointer; /* change cursor to pointer */
    margin: auto;
}

#redDot {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#record-button-true:active {
    transform: scale(0.9); /* scale the button down when pressed */
}

#record-button-false:active {
    transform: scale(0.9);
}
  
#record-button-true:hover {
    background-color: darkred;
}

#record-button-false:hover {
    background-color: darkred;
}

.logo{
    width: 40px;
}

.link{
    color: blue;
    text-decoration: none;
}