body {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(141, 141, 141));
  }

.frontPageContent{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introductoryPrompt{
    text-align: center;
}

.line1{
    transform: translateX(-25%);
}

.line3{
    font-size: 50px;
    font-weight: bold;
    transform: translateX(50%);
}

.recordPrompt{
    margin-top: 100px;
    color: grey;
    text-align: center;
}

.regLogForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    margin: 10px;
}

#record-button {
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
  
#record-button:hover {
    background-color: darkred;
}

.logo{
    width: 40px;
}